{{> menu id="dashboard"}}
<h3>Dashboard</h3>

<div class="border p-2 my-2">
    {{#each playlists}}
        <div class="border p-2 my-2"> 
            <h4>{{title}}</h4>
            <a href="/playlist/{{id}}">View</a> 
        </div> 
    {{/each}}
</div>
