{{> menu }}

<div class="card mt-3">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
      <h5 class="card-title">Playlist 1</h5>
      <p class="card-text">A simple demo app to manage song playlists.</p>
  </div>
</div>

